<div class="footer-container">
    <div class="row-one">
        <div class="about">
            <h5>More About Company</h5>
            <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                 Amet, laborum, consequuntur, distinctio magnam rerum modi
                  assumenda commodi illum maxime iste autem libero numquam
                   cumque possimus labore culpa unde dicta ab?</p>
        </div>
        <div class="contact-info">
            <h5>Contact Information</h5>
            <p class="address">
                Indore, India.
            </p>
            <p class="contact">
                +x xxxxx - xxxxx
            </p>
            <p class="email">
                help@dismania.com
            </p>
        </div>
    </div>
    <div class="row-two">
        <p class="copyright" align="center">&copy; 2019 All rights reserved</p>
    </div>
</div>