<div class="footer-container">
    <div class="row-one">
        <div class="about">
            <h5>More About Company</h5>
            <p align="justify">At Discount Mania, we believe in happy and easy shopping. Many a times something you want is too costly to even
                    think of it. That's not what we consider as happy and easy shopping. Our goal is to help people reach out and get the best
                    offers they can. We're excited to help you on your shopping! 
            </p>
        </div>
        <div class="contact-info">
            <h5>Contact Information</h5>
            <p class="address">
                Indore, India.
            </p>
            <p class="contact">
                +91 96698 - 72071
            </p>
            <p class="email">
                help@discountmania.com
            </p>
        </div>
    </div>
    <div class="row-two">
        <p class="copyright" align="center">&copy; 2019 All rights reserved</p>
    </div>
</div>