.sell-container {
    height: 100vh;
    background:  url('bg.jpg') no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sell {
    width: 70vw;
    max-height: 80vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px grey;
    padding: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-group {
    padding : 10px;
    width: 33%;
}

.full-size {
    width: 100%;
}

.modal-msg {
    padding: 15px;
    align-items: center;
}

@media(max-width:600px) {
    .sell {
        padding: 30px;
        width: 60vw;
    }
}


@media(max-width:400px) {
    .sell {
        width: 70vw;
    }
}