<div class="sell-container">
    <div class="sell" data-simplebar>
        <form>
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Enter title of your post">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control form-control">
                    <option>Electronics</option>
                    <option>Grocery</option>
                    <option>general</option>
                </select>
            </div>
            <div class="form-group full-size">
              <label for="predesc">Description:</label>
              <input type="text" class="form-control" id="predesc" placeholder="Describe the perks only">
            </div>
            <div class="form-group full-size">
                <label for="comdesc">How to avail this offer:</label>
                <input type="text" class="form-control" id="comdesc" placeholder="Describe how to use this offer">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" class="form-control" id="price" placeholder="Price you will sell it for">
            </div>
            <div class="form-group">
                <label for="validity">Valid till:</label>
                <input type="date" class="form-control" id="validity" placeholder="Date">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Create a post</button>
            </div>
          </form>
    </div>
</div>
