<div class="app-container" id="nav" [ngClass] = "{ 'hidden': !scrolled }" [ngStyle]="{'color': scrolled?'white':'black' }">
    <div *ngIf="scrolled" class="brand" [ngStyle]="{'color': scrolled?'white':'transparent' }">Discount Mania</div>
    <ul>
        <li><a href="#" [ngStyle]="{'color': scrolled?'white':'black' }">Buy</a></li>
        <li><a href="#" [ngStyle]="{'color': scrolled?'white':'black' }">Sell</a></li>
        <li><a href="#" [ngStyle]="{'color': scrolled?'white':'black' }">Log-in</a></li>
    </ul>
</div>
