.app-container {
    padding:0%;
    margin:0%;
    display:flex;
    justify-content: space-between;
    background-color: darkviolet;
    min-height: 60px;
    position: fixed;
    width: 100vw;
    box-shadow: 1px 3px 10px 1px grey;
    z-index: 2;
}

ul {
    padding: 15px;
    margin:0%;
}

li {
    display: inline;
    margin: 10px 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-family: 'Good Times';
    font-size: 16px;
}

.brand {
    color: White;
    font-family: 'Good Times';
    font-size: 24px;
    padding: 10px;
}

.hidden {
    background: transparent;
    color: black !important;
    box-shadow: none;
}

.modal-msg {
    padding: 15px;
    align-items: center;
}

@media(max-width: 837px) {
    .app-container {
        flex-flow: column;
        align-items: center;
    }
    
}

@media(max-width: 394px) {
    .brand {
        font-size: 20px;
        padding: 5px;
    }
    li a {
        font-size: 20px;
    }
}

@media(max-width: 344px) {
    .brand {
        font-size: 20px;
        padding: 5px;
    }
    li a {
        font-size: 15px;
    }
}

.login-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #dfdfdf;
}

.login-header button {
    margin: 5px;
}

form {
    display: flex;
    flex-flow: column;
    align-content: center;
}

input {
    margin: 0px 20px 20px 20px;
    border-radius: 5px;
    border: 1px solid #bebebe;
    padding: 2px;
}

label {
    margin: 5px 20px;
}


.modal-dialog {
    width: 60vw;
    max-width: 400px;
}

.show {
    padding: 0px;
}

@media(max-width:577px) {
    .show {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:500px) {
    .show {
        font-size: 15px;
    }
    button {
        font-size: 15px;
    }
}

@media(max-width:400px) {
    .show {
        font-size: 12px;
    }
    button {
        font-size: 12px;
    }
}

@media(max-width:300px) {
    .show {
        font-size: 10px;
    }
    button {
        font-size: 10px;
    }
}

p {
    margin: 1%;
}

p a {
    color: blue;
}

.action {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 2%;
}
