.categories-container{
    height: 100vh;
    background:  url('bg.jpg') no-repeat center center; 
    background-size: cover; 
    display: flex;
}

.category-group {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10vh 5vh;
}

.category { 
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px grey;
    margin: 30px;
    width: 20vw;
}

img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.desc {
    width: 100%;
    padding: 10%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

@media(max-width:965px) {
    h5 {
        font-size: 90%;
    }
    .btn {
        font-size: 90%;
    }
}

@media(max-width:689px) {
    h5 {
        font-size: 80%;
    }
    .btn {
        font-size:70%;
    }
}

@media(max-width:500px) {
    h5 {
        font-size: 70%;
    }
    .btn {
        font-size:50%;
    }
}

@media(max-width:400px) {
    h5 {
        font-size: 60%;
    }
    .btn {
        font-size: 40%;
        padding: 5px;
    }
}