<div class="offer-container">
    <div class="offer" data-simplebar>
        <h5>{{ offer.title }}</h5>
        <p>by: {{offer.by}}</p>
        <p align="justify">{{ offer.desc }}</p>
        <p>You Pay {{ offer.price }} INR</p>
        <p>You save {{ offer.worth - offer.price }} INR</p>
        <p>Offer Valid till {{ offer.valid }}</p>
        <button class="btn btn-primary" (click)="buy()">Buy this offer</button>
    </div>
</div>

<div class="modal" id="QR">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Pay {{offer.price}} INR to following PayTM number or UPI QR</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h5>PayTM: +91 96698 72071</h5>
        <img src="QR.jpg" alt="">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <p>(from your registered number only.)</p>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>