.offer-container {
    height: 100vh;
    background:  url('bg.jpg') no-repeat center center; 
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-group {
    height: 70%;
    width: 50%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px grey;
}

.offer {
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5%;
    margin-right: 0px;
}

.action {
    width: 40%;
    display: flex;
    margin: 0% 5%;
    align-items: center;
    height: 20%;
    border-top: 2px solid grey;
}

.modal-body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.modal-msg {
    padding: 15px;
    align-items: center;
}

@media(max-width:720px) {
    p {
        font-size: 80%;
        margin-bottom: 8px;
    }
    .btn {
        font-size: 80%;
    }
    .action {
        width: 50%;
    }
    .offer-group {
        width: 60%;
        height: 60%;
    }
}