<div class="profile-container">
    <div class="profile" *ngIf="profile" >
        <div class="about-you">
            <p class="name">Name: <span class="heavy">{{ profile.name }}</span></p>
            <p class="email">Email: <span class="heavy">{{ profile.email }}</span></p>
            <p class="phone-number">Contact Number: <span class="heavy">{{ "+91 "+profile.paytm }}</span></p>
            <p class="offer-bought">Total Offer bought: <span class="heavy">{{ profile.bposts.length }}</span></p>
            <p class="offer-posted">Total offer posted: <span class="heavy">{{ profile.pposts.length }}</span></p>
            <p class="balance">Your balance: <span class="heavy">{{ profile.balance || "NA" }}</span></p>
            <button class="btn btn-primary" style="align-self: center;margin:15px;" (click)="reqmoney()">Get Money to Paytm</button>
        </div>
        <div class="offers" data-simplebar>
            <div class="bought">
                <p>Offers you bought:</p>
                <div *ngFor="let offer of profile.bposts;" class="offer" (click)="offer.show=!offer.show">
                    <div class="detail">
                        <h5>{{offer.title}} <small> ({{offer.category}})</small></h5>
                        <p>{{offer.predesc}}</p>
                        <div *ngIf="offer.show">
                            <p>You pay: {{ offer.price }} INR</p>
                            <p>You save: {{ offer.worth || "-" }} INR</p>
                            <p>Offer Valid till: {{ offer.validity }}</p>
                            <p>{{ offer.comdesc }}</p>
                            <p>How man person can use this offer: {{offer.cap}}</p>
                            <p>Who can avail the offer: {{ offer.prereq }}</p>
                        </div>
                    </div>
                    <i *ngIf="!offer.show" class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    <i *ngIf="offer.show" class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </div>
            </div>
            <div class="posted">
                <p>Offers you posted:</p>
                <div *ngFor="let offer of profile.pposts;" class="offer" (click)="offer.show=!offer.show">
                    <div class="detail">
                        <h5>{{offer.title}} <small> ({{offer.category}})</small></h5>
                        <p>{{offer.predesc}}</p>
                        <div *ngIf="offer.show">
                            <p>You pay: {{ offer.price }} INR</p>
                            <p>You save: {{ offer.worth || "-" }} INR</p>
                            <p>Offer Valid till: {{ offer.validity }}</p>
                            <p>{{ offer.comdesc }}</p>
                            <p>How man person can use this offer: {{offer.cap}}</p>
                            <p>Who can avail the offer: {{ offer.prereq }}</p>
                         </div>
                    </div>
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="profilemodal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-msg">
        <h5>{{ msg }}</h5>
        <p>{{submsg}}</p>
      </div>
    </div>
</div>