<div class="offers-container">
    <div class="offer-group" data-simplebar>
        <div *ngFor="let offer of offers;" class="offer" routerLink="../{{offer._id}}">
            <div class="detail">
                <h5>{{offer.title}}</h5>
                <p>{{offer.predesc}}</p>
            </div>
            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div id="error" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content modal-msg">
        <h5>{{ msg }}</h5>
      </div>
    </div>
</div>
